body {
    background-color: rgb(241, 239, 239);
}

h1{
    background-color: rgb(41, 41, 41);
    color: white;
    text-align: center;
}

ul {
    padding: 0;
    width: 100%;
    margin-bottom: 0;
}

ul li {
    list-style-type: none;
    width: 100%;
    background-color: white;
}

#search-button {
    background-color: royalblue;
}

#search-button span {
    color: white;
}

#search-div, #prev-div{
    width: 100%;
    margin-left: .5em;
}

#search-div {
    background-color: white;
}

#prev-div ul{
    height: 400px;
}

#search-h2 {
    min-width: fit-content;
}

#search-h2 * {
    padding-top: .25em;
}

#prev-cities {
    height: 100%;
}

#prev-cities li {
    height: 1fr;
    padding: 7px;
}

#uv span {
    color: white;
    padding: 4px;
}